{
  "packages/frontend/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @low-code/frontend run lint:eslint"
  ],
  "packages/frontend/**/*.{css,less,scss}": [
    "yarn workspace @low-code/frontend run lint:stylelint-lint-staged"
  ],
  "packages/frontend/**/*.{js,jsx,ts,tsx,css,scss,less,html,md,json}": [
    "yarn workspace @low-code/frontend run lint:prettier"
  ],
  "packages/backend/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @low-code/backend run lint:eslint"
  ],
  "packages/backend/**/*.{js,jsx,ts,tsx,css,scss,less,html,md,json}": [
    "yarn workspace @low-code/backend run lint:prettier"
  ]
}
