@import 'normalize.css';
@import 'antd/dist/antd.less';

.ant-image-preview-img {
  display: inline-block !important;
}

#root {
  width: 100%;
  min-width: 760px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 5px;
}
