@import '@/styles/variables.less';

.visual-editor {
  display: flex;
  justify-content: space-between;

  .editor-menu-area {
    position: relative;
    display: flex;

    .menu-pane {
      position: relative;
      z-index: 2;
      width: 46px;
      background-color: #fff;

      .menu-pane-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        font-size: 16px;
        cursor: pointer;

        &.active {
          color: #1890ff;
        }
      }
    }

    .menu-content {
      width: 300px;
      height: 100%;

      &.fixed-active {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transform: translateX(100%);
      }
    }
  }

  .editor-simulator-area {
    position: relative;
    top: 0;
    left: 0;
    flex: 1;
    min-width: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    .simulator-toolbar-container {
      @apply sticky top-0 left-0;

      width: 100%;
      padding: 1px 4px;
      padding-bottom: 20px;
      background-color: #f3f3f3;

      .simulator-toolbar {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 3px 16px;
        overflow: auto;
        white-space: nowrap;
        background-color: #fff;

        .ant-btn {
          margin-right: 4px;
        }
      }
    }

    .simulator-content-container {
      // width: auto;
      margin: 0 20px;

      .simulator-content {
        margin: 0 auto;
        background-color: #fff;
      }
    }
  }

  .editor-operator-area {
    width: 300px;
    height: 100%;
    background-color: #fff;

    .operator-breadcrumb {
      padding: 4px 8px;
      border-bottom: 1px solid rgb(229 231 235);

      .ant-breadcrumb {
        font-size: 12px;
      }
    }

    .operator-content {
      padding: 8px;
    }

    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tab-stretch();
  }
}

.draggable {
  cursor: pointer;

  &.active {
    cursor: move;
  }
}
